# Node.js
node_modules/
package-lock.json
yarn.lock

# WebdriverIO specific
allure-results/
allure-report/
errorShots/

# Coverage reports
coverage/
*.lcov

# TypeScript
*.tsbuildinfo
dist/
build/

# Logs
*.log
logs/
*.stacktrace

# Environment variables
.env
.env.test
.env.production

# Editors
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Screenshots
screenshots/

# Discord Hooks
timeStorage.txt
specResult.txt